/*certain elements seen below are styled in plain CSS, others in Tailwind via Forecast.js*/

.div#form {
 
}
.TextInput {
    font-size: large;
    margin: 0 auto;

    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;

}
.TextInput :focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.h2 {
    color: white;
}

.Radio {
    font-size: medium;
    color: white;
    margin: 0 auto;
    padding: 20px;
}
.Button {
    display: block;
    margin: 0px auto;
    padding: .5rem;
    font-size: 1em;
    background:   #28223f  ;  /*#ECBA82; */
    border-radius: 10px ;
    border: 1px solid #D5A021;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    margin: 5px auto;
    
   box-shadow: 1px 1px #D5A021;
}
.Input {
    margin: 0 auto;
}