@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28223f;
}

code {
  font-family: Montserrat, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;